<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Arduino Data Display</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
</head>
<body>
    <h1>郵件價錢計算:</h1>
    <p id="data">{{ data }}</p>

    <script>
        function fetchData() {
            $.get("/data", function(data) {
                $("#data").text(data);
            });
        }

        setInterval(fetchData, 500); // 更新頻率為每秒（1000毫秒）
    </script>
</body>
</html>
